<h1>You are preparing your <span id="_month"></span></h1>

<h1>Personal Balance Sheet</h1>

<div id="myform">
<%= form_tag("/categories", method: "post") do %>
  Date: <br>
  <input type="date" name="date" id="date"><br><br><br>
  Monthly Income: <br>
  <input type="integer" name="monthly_income" id="monthly_income" onchange="updateForm()"><br>
  Rent: <br>
  <input type="integer" name="rent" id="rent" onchange="updateForm()"><br>
  Loans: <br>
  <input type="integer" name="loans" id="loans" onchange="updateForm()"><br>
  Insurance: <br>
  <input type="integer" name="insurance" id="insurance" onchange="updateForm()"><br>
  Utilities: <br>
  <input type="integer" name="utilities" id="utilities" onchange="updateForm()"><br>
  Entertainment: <br>
  <input type="integer" name="entertainment" id="entertainment" onchange="updateForm()"><br>
  Food: <br>
  <input type="integer" name="food" id="food" onchange="updateForm()"><br>
  Misc: <br>
  <input type="integer" name="misc" id="misc" onchange="updateForm()"><br><br>
  Balance: <br>
  <input type="integer" name="balance" id="balance" readonly><br><br>
  Your Comment for this MONTH: <br>
  <textarea name="comment" id="comment" rows="10" tabindex="4"  required=""></textarea><br>

  <!-- <input type="button" name="button" value="Calculate" onclick="myform"> -->
  <input type="submit" value="Save this Information">
<% end %>
</div>

<script>
window.onload = function () {
  onload()
}
</script>
