<%= link_to '<button type="button">New Finance Sheet</button>'.html_safe, home_form_path %>

<h1>Welcome to your Financial Planning Page</h1>

<% @datainputs.each do |data_input| %>
  <div>Income</div>
  <div><%= data_input.income %></div>
<%end %>
