<h1>Personal Balance Sheet</h1>
<form action="form_submit" method="get" accept-charset="utf-8">
  Date: <br>
  <input type="date" name="date"><br>
  Monthly Income: <br>
  <input type="integer" name="monthly income"><br>
  Rent: <br>
  <input type="integer" name="rent"><br>
  Loans: <br>
  <input type="integer" name="loans"><br>
  Insurance: <br>
  <input type="integer" name="insurnace"><br>
  Utilities: <br>
  <input type="integer" name="utilities"><br>
  Entertainment: <br>
  <input type="integer" name="entertainment"><br>
  Food: <br>
  <input type="integer" name="food"><br>
  Misc: <br>
  <input type="integer" name="misc"><br>
  Your Comment for this MONTH: <br>
  <textarea name="comment" id="comment" rows="10" tabindex="4"  required=""></textarea><br>

</form>
